.headerPrincipal .container {
    display: flex;
    align-items: center; /* centra los componentes verticalmente*/
    justify-content:  space-between; /*crea espacio entre los elementos*/
}
.headerPrincipal-nav {
    display: flex;
}
.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around; /*Da espacio al rededor del componente*/
    width: 70%;
    margin-right: 5%;
}
.rodapePrincipal-contatoForm {
    width: 25%;
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
